# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Environment variables
.env
.env.*

# SQLite or other local DBs
*.sqlite3
*.db

# Logs and temp files
*.log
*.tmp
*.bak

# FFmpeg outputs (optional)
*.jpg
*.png
*.mp4
*.webp

# IDE configs
.vscode/
.idea/

